
body{
    background-color: rgb(240, 195, 230);
    text-align: center;
   
    color: #624a74;
}

.card{
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,0.7791491596638656) 77%, rgba(148,187,233,0.8519782913165266) 100%);
    margin: 10px;
    width: 18rem;
    
}

.card img{
    height: 16rem;
    width: 16rem;
}
.btn{
    
        min-width: 130px;
        height: 40px;
        color: #fff;
        padding: 5px 81px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        outline: none;
        border-radius: 5px;
        border: none;
        background-size: 120% auto;
        background-image: linear-gradient(315deg, #f0ecfc 0%, #c797eb 75%);
        margin-top: 16px;
        margin-bottom: 3px;
      
}

.sweetAlert{
    color: #c797eb;

}
#carrito{
    width: 50px;
    height: 50px;
    background-color: #c797eb;
   
   
   border: none;
  }

/*NAVBAR*/

.navbar-brand-carrito{
margin-left: 95%;
}

.navbar-brand-titulo{
font-size: 210%;
text-decoration: none;
color: #eedaf1;

}
navbar-brand-titulo:hover{
    color: #624a74;
}


.navbar{
    background-color:#c797eb;
    
}



/*FOOTER*/

footer{
    transition: background 1.2s;
    background-color: #c797eb;
  
}


.footerTexto{
    color: rgb(72, 55, 73);
    margin-top: 1%;
    margin-bottom: 3%;
    font-family: 'Russo One', sans-serif;
  font-size: 150%;
    font-style: italic;
}

footer img{
    padding: 0px 10px 0px 34px;
   
}


  .imgFooter:hover{
    transform: scale(1.5);
  }

